{% extends 'base.html' %} #для наследования из базы

{% block title %}
L-store

{% endblock  %}

{% block content %}

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">

                <div class="card shadow-sm h-100"> <!-- Добавлен класс h-100 -->
                    <img src="https://i.pinimg.com/736x/12/de/2f/12de2fc562c431ca95571f8c38ee6378.jpg" class="card-img-top" width="100%" height="225">
                    <center>
                        <text class="name1">Лапка</text>
                        <style>
                            .name1 {
                                font-weight: bold;
                                font-size: 24px;
                            }
                        </style>
                    </center>
                    <div class="card-body">
                        <p class="card-text">Игрушка "Лапка" — это милый и забавный аксессуар, который помогает развивать моторные навыки и воображение у детей, позволяя им играть в увлекательные ролевые игры.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">art</button>
                                <a class="t1">123321</a>
                                <style>.t1{
                            border: 1px solid grey;
                             text-decoration: none;
                             border-radius: 0px 5px 5px 0;
                             color: grey;
                             text-align: center;
                             font-size: 18px
                          }
                      </style>
                            </div>
                            <small class="text-muted">1.000.000 руб</small>

                        </div>
                    </div>
                </div>
            </div>


            <div class="col">
                <div class="card shadow-sm h-100"> <!-- Добавлен класс h-100 -->
                    <img src="https://i.pinimg.com/736x/5d/2b/5e/5d2b5e7b69b933576e0ea72f2a69b04f.jpg" class="card-img-top" width="100%" height="225">
                    <center>
                        <text class="name1">Маска квадробера</text>
                    </center>
                    <div class="card-body">
                        <p class="card-text">Маска квадроберов — это стильный аксессуар, который добавляет уникальности и веселья в игровые приключения.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">art</button>
                                <a class="t1">666666
                                    <style>.t1{
                            border: 1px solid grey;
                             text-decoration: none;
                             border-radius: 0px 5px 5px 0;
                             color: grey;
                             text-align: center;
                             font-size: 18px
                          }
                      </style>
                                </a>

                            </div>
                            <small class="text-muted">350 руб</small>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm h-100"> <!-- Добавлен класс h-100 -->
                    <img src="https://i.pinimg.com/control2/736x/e4/f9/5d/e4f95dde2e29e4abdf082673b276923f.jpg" class="card-img-top" width="100%" height="225">
                    <center>
                        <text class="name1">Крипер</text>
                        <style>
                            .name1 {
                                font-weight: bold;
                                font-size: 24px;
                            }
                        </style>
                    </center>
                    <div class="card-body">
                        <p class="card-text">Крипер — это известный моб из игры "Minecraft", который отличается своей способностью бесшумно подкрадываться к игроку и взрываться, создавая хаос и разрушение в игровом мире.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">art</button>
                                <a class="t1">112233</a>
                                <style>.t1{
                            border: 1px solid grey;
                             text-decoration: none;
                             border-radius: 0px 5px 5px 0;
                             color: grey;
                             text-align: center;
                             font-size: 18px
                          }
                      </style>
                            </div>
                            <small class="text-muted">94736875634875 руб</small>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm h-100"> <!-- Добавлен класс h-100 -->
                    <img src="https://i.pinimg.com/736x/37/08/4b/37084b2770dc23ab98fc414c75633861.jpg" class="card-img-top" width="100%" height="225">
                    <center>
                        <text class="name1">Унитаз</text>
                        <style>
                            .name1 {
                                font-weight: bold;
                                font-size: 24px;
                            }
                        </style>
                    </center>
                    <div class="card-body">
                        <p class="card-text">Сральничек — это важное санитарное устройство, обеспечивающее удобство и гигиену, играющее ключевую роль в повседневной жизни и поддержании здоровья..</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">art</button>
                                <a class="t1">777999</a>
                                <style>.t1{
                            border: 1px solid grey;
                             text-decoration: none;
                             border-radius: 0px 5px 5px 0;
                             color: grey;
                             text-align: center;
                             font-size: 18px
                          }
                      </style>
                            </div>
                            <small class="text-muted">5 коп</small>

                        </div>
                    </div>
                </div>
            </div>


            <div class="col">
                <div class="card shadow-sm h-100"> <!-- Добавлен класс h-100 -->
                    <img src="https://i.pinimg.com/control2/736x/b5/f6/ef/b5f6ef3693b2e606b8d4bf5be0ed9370.jpg" class="card-img-top" width="100%" height="225">
                    <center>
                        <text class="name1">Хомяк-уничтожитель</text>
                        <style>
                            .name1 {
                                font-weight: bold;
                                font-size: 24px;
                            }
                        </style>
                    </center>
                    <div class="card-body">
                        <p class="card-text">Хомяк — это маленькое и дружелюбное домашнее животное, известное своей игривостью и активностью, а также способностью запасать еду в щеках.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">art</button>
                                <a class="t1">838383</a>
                                <style>.t1{
                            border: 1px solid grey;
                             text-decoration: none;
                             border-radius: 0px 5px 5px 0;
                             color: grey;
                             text-align: center;
                             font-size: 18px
                          }
                      </style>
                            </div>
                            <small class="text-muted">50.000 руб</small>

                        </div>
                    </div>
                </div>
            </div>

             <div class="col">
                <div class="card shadow-sm h-100"> <!-- Добавлен класс h-100 -->
                    <img src="https://i.pinimg.com/736x/cc/a7/a9/cca7a9383c440915e4e2cfb6e781c042.jpg" class="card-img-top" width="100%" height="225">
                    <center>
                        <text class="name1">Бог</text>
                        <style>
                            .name1 {
                                font-weight: bold;
                                font-size: 24px;
                            }
                        </style>
                    </center>
                    <div class="card-body">
                        <p class="card-text">Бог — это высшее существо в различных религиях, которое олицетворяет силу, мудрость и творение, и к которому люди обращаются за помощью, смыслом и защитой.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">art</button>
                                <a class="t1">098765</a>
                                <style>.t1{
                            border: 1px solid grey;
                             text-decoration: none;
                             border-radius: 0px 5px 5px 0;
                             color: grey;
                             text-align: center;
                             font-size: 18px
                          }
                      </style>
                            </div>
                            <small class="text-muted">Бесценно</small>

                        </div>
                    </div>
                </div>
            </div>




        </div>
    </div>
</div>




{% endblock  %}